.here {
    background-color: #F4F4F4;
    padding: 95px 0 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas: 
    "items title"
    "items img";
    column-gap: 50px;
    &__items {
        justify-self: end;
        padding-left: 10px;
        grid-area: items;
    }
    &__item {
        @include displayFlex(space-between, flex-start);
        margin-bottom: 35px;
        max-width: 530px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-bottom: 17px;
    }
    &__descr {
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
    }
    &__wrapp {
        min-width: 111px;
        margin-right: 23px;
    }
    &__img {
        width: 100%;
        grid-area: img;
    }
    .title {
        grid-area: title;
        text-align: start;
        margin-left: 15px;
    }
}

.title {
    @include fontStyle(46px, 700, 1, #8D81AC, center, none, 'Montserrat');
}

.title--tag {
    &::before {
        content: '<';
    }
    &::after {
        content: '>';
    }
}